*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: "Geometr212 BkCn BT";
}

body{
    background-color: #ffffff;
}
header{
    background-repeat: repeat-x;
    background-color: #ffffff;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav{
    width: 100%;
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    
}

nav img{
    width: 5%;
    height: auto;
    margin-top: 0.2%;
    margin-bottom: 0.5%;
}

div#container-nav{
    display: inline;
    align-items: center;
    width: 400px;
    text-align: right;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

div#container-nav a{
    margin-right: 2%;
    font-size: 1.4rem;
    color: #cc2229;
    font-weight: 900;
    text-decoration: none;
}

div#container-nav a:hover{
    text-decoration: underline
}

div#img-container{
    width: 100%;
    height: auto;

}

div#img-container img{
    width: 100%;
    height: auto;
    min-height: 720px;
    max-height: 1080px;
    position: absolute;
    z-index: 1;
    object-fit: cover;
    object-position: center;

}

main div#img-container p {
    position: relative;
    z-index: 2;
    color: #ffffff;
    font-size: 3.2rem;
    text-align: center;
    font-weight: 700;
    text-align: center;
    padding-top: 32rem
}
