*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family:'Franklin Gothic';
}

body{
    background-color: #ffffff;
}
header{
    background-repeat: repeat-x;
    background-color: #ffffff;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav{
    width: 100%;
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    
}

nav img{
    width: 40px;
    height: 35px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.nav-ul{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.nav-ul li{
    list-style-type: none;
    margin-right: 4%;
    font-size: 2em;
    font-weight: 900;
    cursor: pointer;
}

.nav-ul a{
    color: #cc2229;
    text-decoration: none;
}

.nav-ul li:hover{
    text-decoration: underline
}

.section-img{
    width: 100%;
    height: auto;
}

.section-img img{
    width: 100%;
    height: auto;
    min-height: 720px;
    max-height: 1080px;
    z-index: 1;
    object-fit: cover;
    object-position: center;
}

.section-img h2 {
    z-index: 2;
    color: #ffffff;
    font-size: 3.2rem;
    text-align: center;
    font-weight: 700;
    text-align: center;
    position: relative;
    bottom: 12em;
}

.section-about{
    margin-top: -5%;
    width: 100%;
    height: auto;
}

.sectionabout-title{
    text-align: center;
    font-size: 4em;
    font-weight: 300;
    color: #cc2229;
}

.sectionabout-title h5{
    font-weight: 400;
    font-style: italic;
}

.section-about .left-sector{
    display: flex;
    align-items:flex-start;
    margin-top: 5%;
}

.section-about .right-sector{
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: right;
    margin-top: 5%;
}

.left-sector img,
.right-sector img{
    width: 20%;
    height: auto;
}

.text-about{
    color: #cc2229;
}

.text-about .textabout-title{
    font-size: 5em;
}


.text-about .textabout-paragraph{
    margin-top: 2%;
    font-size: 2em;
    font-weight: 200;
    padding-left: 1em;
    padding-right: 5em;
}

.paragraph-right{
    margin-top: 2%;
    font-size: 2em;
    font-weight: 200;
    padding-right: 1em;
    padding-left: 5em;
}

@media (max-width: 700px){
    .section-img h2{
        font-size: 2.2em;
        bottom: 15em;
    }

    .left-sector img,
    .right-sector img{
        width: 30%;
        height: auto;
    }
}

@media (max-width: 500px){
    .section-img h2{
        font-size: 1.8em;
        bottom: 15em;
    }

    nav img{
        width: 30px;
        height: 25px;
    }

    .nav-ul li{
        font-size: 1.2em;
    }
    .section-about .sectionabout-title{
        font-size: 3em;
    }

    .section-about .textabout-title{
        font-size: 3em;
    }

    .section-about .textabout-paragraph{
        font-size: 1.2em;
    }

    .paragraph-right{
        font-size: 1.2em;
    }
}

@media (min-width: 2560px){
    .section-img h2{
        font-size: 5em;
        bottom: 10em;
    }

    .nav-ul li{
        font-size: 10em;
    }
}